.containerPresentation {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;

}

.Presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10rem;
    align-items: center;
}

.about {
    width: 50vw
}


.about h1 {
    margin-bottom: 1rem;
}

.about p {

    font-size: large;
}

.pfp {
    width: 20rem;
    height: 15rem;
}