.containerPresentation {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;

}

.Presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10rem;
    align-items: center;
}

.about {
    width: 50vw
}


.about h1 {
    margin-bottom: 1rem;
}

.about p {

    font-size: large;
}

.pfp {
    width: 20rem;
    height: 15rem;
}

.line {
    display: flex;
    margin-left: 10vw;
    border: solid rgba(0, 0, 0, 0.103);
    border-width: 0.01px;
    margin-top: 6rem;
    margin-bottom: 7rem;
    width: 80vw;
}