header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    flex-direction: row;
    height: 4rem;
    background-color: #1d3557;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

}

header img {
    width: 3rem;
    margin-left: 1rem;
}

.nav {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    margin-right: 1rem;
}