footer {
    background-color: #457b9d;
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: flex-end;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 2.5rem;
}